
<div>
<%= form_for @career do |f| %>

        <%= f.label :name%>
        <%= f.text_field :name %>

        <br/>
        <br/>

        <%= f.label :field %>
        <%= f.text_field :field %>

        <br/>
        <br/>

        <%= f.label :competitive %>
        <%= f.select :competitive, options_for_select([true, false]) %>

        <br/>
        <br/>

        <%= f.label :avg_salary %>
        <%= f.number_field :avg_salary %>

        <br/>
        <br/>

        <%= f.label :typical_personality %>
        <%= f.text_field :typical_personality %>
        <br/>

    <%= f.submit%>
<% end %>
</div>