

<div class="jumbotron">
    <h2 class="display-4"><%= @career.name %></h2>
    <h4 class="lead">Field: <%= @career.field %></h4>
    <h4 class="lead">Average Salary: $<%= @career.avg_salary %></h4>
    <h4 class="lead">Competitive?: <%= @career.competitive ? "Yes" : "No"%></h4>
    <h4 class="lead">Typical Personality: <%= @career.typical_personality %></h4>
    <br/>
    <h4 class="lead">Associated Plans:</h4>
        <% if @career.plans.any? %>
            <% @career.plans.each do |p| %>
                <h4 class="lead"> <%= link_to p.name.capitalize, career_plan_path(p.career_id, p) %>: <%= p.description %></h4>
            <% end %>
        <% else %> 
            No plans to show 
        <% end %>
    <hr class="my-4">
    <%= link_to 'To Careers', careers_path, class:"btn btn-outline-info"%>
    <%= link_to 'Make a Plan for This Career', new_career_plan_path(@career), class:"btn btn-outline-info"%>
</div> 

