

<div>
    <h2><%= @career.name %></h2>
    Field: <%= @career.field %><br/>
    Average Salary: $<%= @career.avg_salary %><br/>
    Competitive?: <%= @career.competitive ? "Yes" : "No"%><br/>
    Typical Personality: <%= @career.typical_personality %><br/>
</div>