<div class="jumbotron">
    <h2 class="display-4">User: <%= @email %></h2>
</div>



<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Careers I've Made Plans For
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <% if @careers.count != 0 %>
            <%= render partial: 'careers/index' %>
        <% else %> 
            You have no careers to show 
        <% end %>
      
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        My Plans
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      <% if @plans.count != 0 %>
            <%= render partial: 'plans/index' %>
        <% else %> 
            You have no plans to show 
        <% end %>
      </div>
    </div>
  </div>
  

    <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        My Progress Entries
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      <% if @progress_reports.count != 0 %>
            <%= render partial: 'progress_reports/index' %>
        <% else %> 
            You have no progress entries to show
        <% end %>
      </div>
    </div>
    </div>


    <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        My Commitments
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <% if @commitments.count != 0 %>
            <%= render partial: 'commitments/show' %>
        <% else %> 
            You have no commitments to show 
        <% end %>
      </div>
    </div>

  </div>
</div>

<br/>
<br/>


<div>
<%= render partial: 'home/scope_links' %>
</div>