<div>
<%= form_for @progress_report do |f| %>

        <% if @progress_report.career.nil? %>
        
        <div class="form-group">
            <%= f.label :career_id %>
            <%= f.select :career_id, options_from_collection_for_select(Career.all, :id, :name), class:"form-control"   %>
        </div>

        <div class="form-group">
            <%= f.label :Which_career_are_you_moving_towards? %>
            <%= link_to "Add new career by following this link.", new_career_path %>
        </div>

        <% else %>

            <%= hidden_field_tag "progress_report[career_id]", @progress_report.career_id %>

        <% end %>

        <div class="form-group">
            <%= f.label :Title %>
            <%= f.text_field :name, class:"form-control"   %>
        </div>

        <div class="form-group">
            <%= f.label :Date %>
            <%= f.datetime_field :date, class:"form-control"   %>
        </div>

        <div class="form-group">
            <%= f.label :Content %>
            <br/>
            <%= f.text_area :content, size: "100x20", class:"form-control"   %>
        </div>
        <br/>
    <%= f.submit "Submit Progress Entry", class:"btn btn-outline-info"  %>
<% end %>
</div>
